{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>learn Python</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
    
</head>
<body>
    <section>
        <div class="left"></div>
        <div class="right">
       {% if user.is_authenticated %}
       <div>{{user.username|title}}</div>
       <div class="profile">
        <img class="profile-img" src="{% static 'img/user.png'  %}" alt="user-profile">
    </div>
       {% else %}
       <div>login</div>
       <div>sign up</div>
       {% endif %}
       
        </div>
    </section>
    <header>
        <div class="banner">
            <img  src="{% static 'img/eas.png' %}" alt="eas">
        </div>
    </header>
    <nav>
        <div>
            <a href="{% url 'news:news' %}">accueil</a>
        </div>
        <div>
            <a href="{% url 'bookstore:bookstore' %}">qui sommes nous </a>
        </div>
        <div>
            nos formations
        </div>
        <div>
           <a href="tel:0699776376">contactez-nous</a>
        </div>
        <div>certificats</div>
    </nav>
    
    <article>
        {% for board in boards %}
       <h2>{{board.name|title}}</h2>
       <h3>{{board.description|title }}</h3>
        {% endfor %}
    </article>



    <footer>
        <h3>this is the footer of the website</h3>
    </footer>
    


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>