{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>learn Python</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
    
</head>
<body>
    
    <header>
        <div class="banner">
            <img  src="{% static 'img/eas.png' %}" alt="eas">
        </div>
    </header>
    <nav>
        <div>
            <a href="">accueil</a>
        </div>
        <div>
            <a href="">qui sommes nous </a>
        </div>
        <div>
            nos formations
        </div>
        <div>
            contactez-nous
        </div>
        <div>certificats</div>
    </nav>
    <div class="profile">
        <img class="profile-img" src="{% static 'img/user.png'  %}" alt="user-profile">
    </div>
    <article>
        {% for board in boards %}
       <h2>{{board.name|title}}</h2>
       <h3>{{board.description|title }}</h3>
        {% endfor %}
    </article>
    


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>