*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: turquoise;
    height: 200vh;
    position: relative;
}
section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    top: 0;
    height: 50px;
    position: fixed;
    left: 0;
    background-color: dodgerblue;
    color: white;
    font-size: 23px;
    align-items: center;
}
section div.right{
    display: flex ;
    justify-content: space-around;
    right: 0;
    position: absolute;
    width: 20%;
    flex-direction: row;
    align-items: center;
}
header{
    background-color: #fff;
    height: 200px;
}
header div img{
    width: 200px;
    object-fit: cover;
}
nav{
    background-color: #111;
    color: #eee;
    height: 60px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
nav div a{
    text-decoration: none;
    color: #fff;
    
}
nav div a:hover{
    color: #ddd;
    transition: color 1s ease;
}
div.profile {
    border: 2px solid lightblue;
    background-color: #fff;
    width: 45px;
    height: auto;
    border-radius: 50%;
    margin-top: 1px;
}
div.profile img.profile-img{
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height: auto;
    

}
h1{
    text-align: center;
    text-transform: capitalize;
    background-color: #ddd;
    color: #777;
    height: 100px;
    padding: 10px;
}
footer{
    height: 100px;
    width: 100%;
    background-color: #aaa;
    position:absolute;
    bottom: 0;
    left: 0;
}
footer h3{
    color: #333;
    text-align: center;
}


/* media queries go here */

@media screen and (max-width: 600px) {
    section {
      background-color: dodgerblue;
    }
    nav{
        display:block;
        font-size: 14px;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        height: 100px;
    }
  }