*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: turquoise;
    height: 200vh;
}
div {
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}
img{
    width: 100px;
    border-radius: 50%;
    

}
h1{
    text-align: center;
    text-transform: capitalize;
    background-color: #ddd;
    color: #777;
    height: 100px;
    padding: 10px;
}