*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: turquoise;
    height: 200vh;
}
header{
    background-color: #fff;
    height: 200px;
}
header div img{
    width: 200px;
    object-fit: cover;
}
nav{
    background-color: #111;
    color: #eee;
    height: 60px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
nav div a{
    text-decoration: none;
    color: #fff;
    
}
nav div a:hover{
    color: #ddd;
    transition: color 1s ease;
}
div.profile {
    border: 2px solid lightblue;
    background-color: #fff;
    width: 130px;
    border-radius: 50%;
    margin-top: 1px;
}
div.profile img.profile-img{
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
    

}
h1{
    text-align: center;
    text-transform: capitalize;
    background-color: #ddd;
    color: #777;
    height: 100px;
    padding: 10px;
}